:root {
    /*colours*/
    --color-text: #fff;
    --color-primary: #55cccc;
    --color-secondary: #31a9c4;
    --color-dark: #0e5877;
    --color-bg: #45a6d0;

    /*fons*/

    --font-robot:"";



}